---
prometheus_version: 2.33.4
grafana_version: 8.4.2
alert_manager_version: 0.23.0
alert_manager_bot_version: 0.4.3
loki_version: 2.4.2
promtail_version: 2.4.2
node_exporter_version: 1.3.1

alert_manager_bot_telegram_token: "TELEGRAM_TOKEN"
alert_manager_bot_telegram_admins: ["ADMIN_CHAT_ID"]