groups:
  - name: alert_rules
    rules:
      - alert: InstanceDown
        expr: up == 0
        for: 5m
        labels:
          severity: critical
        annotations:
          summary: 'Instance [{{ $labels.instance }}] down'
          description: '[{{ $labels.instance }}] of job [{{ $labels.job }}] has been down for more than 1 minute.'

      - alert: HostHighCpuLoad
        expr: 100 - (avg by(instance)(rate(node_cpu_seconds_total{mode="idle"}[2m])) * 100) > 90
        for: 0m
        labels:
          severity: warning
        annotations:
          summary: Host high CPU load
          description: "CPU load is > 90%\n  VALUE = {{ $value }}\n  LABELS: {{ $labels }}"

      - alert: ValidatorRankingTooLow
        expr: sum by (chain_id) (cosmos_validators_active) - sum by (chain_id)(cosmos_validator_rank) < 10
        for: 0m
        labels:
          severity: error
        annotations:
          summary: Validator ranking too low
          description: "Validator {{ $labels.moniker }} on {{ $labels.chain_id }} got kicked out of active set."

      - alert: ValidatorMissingBlocks
        expr: delta(cosmos_validator_missed_blocks[10m]) > -1
        for: 0m
        labels:
          severity: error
        annotations:
          summary: Validator is missing blocks
          description: "Validator {{ $labels.moniker }} on {{ $labels.chain_id }} missed {{ $value }} blocks in 10 minutes."
